<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="try_it_page1.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">

<body>
    <div>
        hello
    </div>
</body>
</html>
